.gallery{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 10px 12px;
    perspective: 600px;
}


.gallery .picture{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
    position: relative;
}


@media (max-width: 991px){
    .gallery{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}
@media (max-width: 700px){
    .gallery{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;

    }
}

.gallery .picture:hover{
    filter: opacity(.8);
}


.gallery dialog{
    margin: auto ;
    border: none;
    border-radius: 5px;
    outline: none;

}
.gallery dialog::backdrop{
    background: hsla(0, 0%, 0%, .5);
}


dialog.some .dialog-full{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.front, .back{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.back{
    transform: rotateY(180deg);
    color: #262627;
    width: auto;
    height: auto;
    font-style: italic;
    /* padding: 400px 150px; */
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3); 
}

.dialog-full.flipped{
    transform: rotateY(180deg);
}

.gallery dialog .dialog-full{
    display: flex;
    width: 100%;
    height: 85vh;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    
}

.gallery dialog.some .dialog-full{
    width: 55vw;
}

.dialog-full .dialog-img-wrapper{

    width: 685px;
    height: 620px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #a7a7a7;
    padding: 20px;
}

dialog.some .dialog-img-wrapper{
    border-right: none ;
}


.dialog-full .dialog-img-details-wrapper{
    /* max-width: 500px;
    min-width: 405px; */
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
}


.gallery dialog .dialog-img-wrapper.vertical img{
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    line-height: 0;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    z-index: 100;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);     
} 

.gallery dialog.some .dialog-img-wrapper.vertical + .back{
    width: 65%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery dialog .dialog-img-wrapper.horizontal img{
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    line-height: 0;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    z-index: 100;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3); 
} 

.gallery dialog.some .dialog-img-wrapper.horizontal + .back{
    width: 95%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dialog-img-details-note{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.dialog-img-details-note input{
    padding: 5px;
    outline: none;
    width: 260px;
}
.dialog-img-details-note span{
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.dialog-img-details-buttons{
    margin-top: 20px;
    display: flex;
    gap: 20px;

}

.dialog-img-details-buttons button{
    padding: 5px 25px;
    outline: none;
    border: none;
    background: #262627;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
}