.preview-grid {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.preview-grid img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  box-sizing: border-box;
}

.album-preview-title {
  text-align: center;
  padding: 5px;
}

.album-preview-container {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #d3d3d3;
  box-shadow: 6px -4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.album-preview-container:hover {
  transform: translate(10px, -10px);
}
