.dropzone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px dashed #737373;
    padding: 20px;
    margin: 10px;
}

.dropzone p{
    color: #262627;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 10px;
}
.dropzone h5{
    margin-bottom: 10px;
}

.dropzone button{
    padding: 10px 15px;
    background-color: #e3e3e3;
    outline: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

