.step2-section{
    margin-top: 50px;
    display: flex;
    justify-content: center;
  
}

.step2-content-wrapper{
    display: grid;
    gap: 0px 24px;
    grid-template-columns: repeat(12, 64px);
    grid-auto-rows: minmax(70px, auto);
}

.step2-text-span{
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    align-self: center;

}
.step2-text-p{
    grid-column: 6 / 12;
    grid-row: 1 / 2;

}

.step2-text-span span{
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
}
.step2-text-p p{
    font-weight: 300;
    font-size: 22px;
    line-height: 36px;
    color: rgb(38, 38, 39);
}

.step2-img img{
    width: 1000px;
    height: auto;
    
}

.step2-img{
    grid-area: 3 / 1 / 5 / 13 ;
    justify-self: center;
}