.step1-section{
    display: flex;
    justify-content: center;
    background: #fafafa;
  
}

.content-wrapper{
    display: grid;
    gap: 0px 24px;
    grid-template-columns: repeat(12, 64px);
    grid-auto-rows: minmax(200px, auto);
}

.content-wrapper .step1-img img{
    width: 350px;
    height: auto;
}

.step1-img{
    grid-area: 1 / 1 / 4 / 7 ;
    align-self: center;
    justify-self: center;
}

.step1-text{
    grid-column: 7 / 12;
    grid-row: 2;
    align-self: center;
}

.step1-text p{
    font-weight: 300;
    font-size: 22px;
    line-height: 36px;
    color: rgb(38, 38, 39);
}

.step1-text span{
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
}