
.studiospace-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.studio-header{
    width: 100%;
    display: flex;
    gap: 45px;
}

.studio-spaces-wrapper{
    display: flex;
    height: 100%;
}

.studiospace-left{
    width: 256px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.studio-analytics-wrapper .analytics{
    padding: 10px 14px;
    border-top: 1px solid green;
    font-size: 14px;
    color: #737373;
    line-height: 20px;
}



.header-in-left{
    height: 78px;
    display: flex;
    width: 256px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.studiospace-right{
    flex: 2;
    display: flex;
    flex-direction: column;

}
.header-in-right{
    height: 78px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
}

.content-in-right{
    background-color: #fafafa;
    height: 100%;
    
}

.content-header-wrapper{
    display: flex;
}

.search-bar-wrapper{
    display: flex;
    align-items: center;
    color: rgb(38, 38, 39);
    width: 512px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #dfe1e5;
    margin-left: 10px;
}

.search-icon-wrapper{
    width: 32px;
    margin-left: 4px;
    
}
.search-input-wrapper{
    width: 100%;
}
.search-input{
    background: transparent;
    display: block;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 15px 9px 0px;
    outline: none;
    border: none;
    width: 100%;

}
.user-details{
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%; 
    background-color: #026451;
    text-align: center;
    vertical-align: middle;
}

.user-details img{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user-details span{
    font-size: 14px;
    line-height: 31px;
    color: #fff;
}

.user-details-wrapper{
    display: flex;
    align-items: center;
    position: relative;
}

.user-details-wrapper button{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;   
}

.user-settings-wrapper{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 250px;
    color: rgb(38, 38, 39);
    border-radius: 8px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 2px 12px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.user-settings-wrapper.opened{
    max-height: 200px;
    z-index: 1000;
}

.user-settings{
    background-color: #fff;
    padding: 4px 0px;
    margin: 5px;
}

.user-settings-profile,
.user-settings-logout{
    padding: 10px;
    cursor: pointer;   
    z-index: 999;  
}

.user-settings-profile:hover,
.user-settings-logout:hover{
    background-color: #fafafa;;
}

.user-settings-profile:hover .myprofile-link,
.user-settings-logout:hover .logout-link{
    transform: translateX(5px);
    font-weight: 600;
}

.myprofile-link{
    display: block;
    width: 100%;
    border: none;
    font-size: 14px;
    color: #262627; 
    text-decoration: none;
    text-align: left;
}

.user-settings-logout .logout-link{
    padding: 0px;
    position: relative;
    z-index: 999;
    width: 100%;
    text-align: left;  
}


.user-settings-account-info-wrapper{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);

}

.user-settings-account-info{
    display: flex;
    flex-direction: column;
}
.user-settings-account-info span:nth-child(1){
    color: #262627;
    font-size: 14px;
}
.user-settings-account-info span:nth-child(2){
    color: #737373;
    font-size: 12px;
}


.studio-menu-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.studio-menu-albums,
.studio-menu-achieve,
.studio-menu-special
{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 50px;
    padding: 12px 0px;
}

.studio-menu-special{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}


.menu-albums, .menu-achieve, .menu-special{
    color: rgb(38, 38, 39);
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

.menu-albums-wrapper,
.menu-achieve-wrapper,
.menu-special-wrapper
{
    display: flex;
    justify-content: space-between;
}

.menu-albums-left,
.menu-achieve-left,
.menu-special-left

{
    display: flex;
    align-items: center;
    padding-left: 14px;
}

.studio-content-wrapper{
    margin: 0px 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-header-wrapper{
    /* flex: 0.5; */
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
    box-shadow: rgba(0, 0, 0, 0.07) 0px -1px inset;
}
.main-content{
    /* flex: 2; */
    height: 100%;
}

.create-album-link-wrapper{
    width: 175px;
    /* height: 40px; */
    display: flex;
    background: hsl(240, 1%, 15%);
    justify-content: center;
    /* align-items: center; */
    padding: 5px 4px;
    border-radius: 4px;
    cursor: pointer;
}

.create-album-link-wrapper .createAlbum-link{
    display: block;
    /* height: 40px; */
    width: 100%;
    border: none;
    line-height: 25px;
    font-size: 16px;
    color: #fff;    
    text-decoration: none;
    text-align: center;
}

.filter select{
    background-color: #e3e3e3;
    color: #262627;
    outline: none;
    border: none;
    padding: 9px 7px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}
