.signup-link-text{
    padding-right: 5px;
    font-size: 14px;
    color: rgb(76, 76, 76);
}

.signup-link-aTag{
    display: inline-block;
    line-height: 11px;
    height: 28px;
    padding: 8px 12px 6px;
    color: rgb(38, 38, 39);
    border-radius: 2px;
    border: 1px solid currentColor;
    vertical-align: middle; 
    font-size: 12px;
    width: auto;
    text-decoration: none;
}

.logo-text-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.auth-container{
    width: 400px;
    height: auto;
    min-width: 300px;
    margin: 0px auto 8px;
}

.auth-content{
    padding: 20px 72px;
}
.form-headline-wrapper{
    margin-bottom: 25px;
}

.form-headline-text{
    font-size: 20px;
    font-weight: 400;
    color: rgb(76, 76, 76);
    margin-top: 10px;
    text-align: center;
    line-height: 24px;
}

.email-field-label-wrapper,
.password-field-label-wrapper
{

    padding: 7px 0px;
}

.email-field-label,
.password-field-label
{
    font-weight: 400;
    color: #5e5e5e;
    font-size: 16px;
}

.email-field-wrapper,
.password-field-wrapper
{
    width: 100%;
    position: relative;
}


.email-input,
.password-input
{
    display: inline-block;
    height: 40px;
    border: 1px solid #bbb;
    outline: none;
    border-radius: 3px;
    width: 100%;
    color: #5e5e5e;
    background: transparent;
    padding: 6px 14px;
    /* line-height: 16px; */
}

.error-message{
    color: #d93934;
    font-weight: 400;
    padding-left: 18px;
    position: relative;
    padding-top: 8px;
    /* display: none; */
}


.email-input:invalid,
.password-input:invalid {
    border: 1px solid #d93934;
}

.error-message::before{
    content: "\26A0";
    font-size: 16px; 
    position: absolute;
    left: 0;
    top: 7px;
    vertical-align: top;
}

.forgotten-password-link-wrapper{
    margin-top: 10px;
    margin-bottom: 25px;
    text-decoration: underline;
}
.forgotten-password-link{
    color: #777;
    font-size: 14px;
    cursor: pointer;
}

.form-button-wrapper{
    padding-bottom: 25px;
    
}

.form-button{
    display: block;
    height: 40px;
    width: 100%;
    border: none;
    line-height: 28px;
    background: #262627;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.oauth-divider-wrapper{
    background-color: #a7a7a7;
    height: 1px;
    margin-bottom: 25px;
    text-align: center;
}
.oauth-divider-text{
    position: relative;
    background-color: #fff;
    top: -0.6em;
    padding: 0px 15px;
}

.oauth-google-link-button{
    display: block;
    color: #5e5e5e;
    border-radius: 3px;
    background: url('./../../public/assets/icons8-google-30.png' ) 
        no-repeat 10px, linear-gradient(90deg, #ffffff 50px, #fbfbfb 0px);
    border: 1px solid #c3c3c3;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding-left: 65px;
    line-height: 2.4;
    cursor: pointer;
}

.custom{
    display: none;
}

.form-validation-error-wrapper,
.authentication-error-wrapper,
.not-registered-error-wrapper,
.already-registered-error-wrapper{
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    padding: 12px 18px 12px 60px;
    margin-bottom: 15px;
    display: none;
}
.form-validation-error-wrapper[invalid="true"],
.authentication-error-wrapper[invalid="true"],
.not-registered-error-wrapper[invalid="true"],
.already-registered-error-wrapper[invalid="true"]{
    display: block;
}


.form-validation-error-wrapper::before,
.authentication-error-wrapper::before,
.not-registered-error-wrapper::before,
.already-registered-error-wrapper::before{
    background-color: #e34843;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    width: 36px;
    content: "";
    /* vertical-align: top;     */
}

.form-validation-error-wrapper span.error-icon::before,
.authentication-error-wrapper span.error-icon::before,
.not-registered-error-wrapper span.error-icon::before,
.already-registered-error-wrapper span.error-icon::before{
    content: "\26A0";
    color: #fff;
    font-size: 16px;
    position: absolute;
    left: 9px;
    top: 32px;
}