.studiospace-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navbar navbar"
    "sidebar main";
}

.studio-header {
  top: 0;
  position: sticky;
  grid-area: navbar;
  display: grid;
  grid-template-columns: 300px 1fr auto;
  background-color: #fff;
  padding: 10px;
  z-index: 1000;
}

.studiospace-left {
  grid-area: sidebar;
  top: 78px;
  position: sticky;
  align-self: start;
  height: calc(100vh - 78px);
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(247, 247, 246);
}

@media (max-width: 800px) {
  .studiospace-container {
    max-width: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas:
      "navbar"
      "sidebar"
      "contentheader"
      "main";
  }
  .studio-header {
    grid-area: navbar;
    grid-template-columns: auto 1fr auto;
    gap: 40px;
  }
  .studiospace-left {
    flex-direction: row;
    justify-content: center;
  }
  .header-in-right {
    display: flex;
  }
  .header-title-wrapper {
    display: flex;
    align-items: center;
  }

  .header-in-right .search-bar-wrapper {
    width: 100%;
  }
  .header-title-wrapper h4 {
    display: none;
  }

  .studiospace-left {
    grid-area: sidebar;
    position: sticky;
    top: 81.5px;
    height: auto;
    width: 100%;
  }
  .studiospace-left .studio-analytics-wrapper {
    display: none;
  }
  .content-in-right .content-header-wrapper {
    grid-area: contentheader;
    position: sticky;
    top: 137px;
    justify-content: space-between;
   
  }
  .studiospace-right {
    grid-area: main;
  }

  .studiospace-left .studio-menu-wrapper {
    flex-direction: row;
    align-items: center;
    width: 98%;
  }
  .menu-albums-right,
  .menu-achieve-right,
  .menu-special-right {
    display: none;
  }

  .menu-albums-wrapper,
  .menu-achieve-wrapper,
  .menu-special-wrapper {
    justify-content: center;
  }

  .studio-menu-wrapper .studio-menu-albums:hover,
  .studio-menu-wrapper .studio-menu-achieve:hover,
  .studio-menu-wrapper .studio-menu-special:hover {
    background-color: #edeaea;
  }

  .studio-menu-wrapper .studio-menu-albums.active,
  .studio-menu-wrapper .studio-menu-achieve.active,
  .studio-menu-wrapper .studio-menu-special.active {
    background-color: #fff;
    color: #ffffff;
    border-color: #6366f1;
    box-shadow: 1px 1px 1px rgba(99, 102, 241, 0.2);
    border-radius: 10px;
    margin: 0;
  }
  .studio-menu-wrapper .studio-menu-albums,
  .studio-menu-wrapper .studio-menu-achieve,
  .studio-menu-wrapper .studio-menu-special {
    border: none;
    width: 33%;
    height: 90%;
    margin-right: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .studiospace-right .content-in-right {
    background-color: #fafafa;
    min-height: calc(100vh - 162px);
  }
  .greetings-wrapper {
    display: none;
  }
}

.studio-analytics-wrapper {
  background-color: rgb(247, 247, 246);
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 6px solid #fff;
}

.studio-analytics-wrapper .analytics {
  padding: 10px 14px;
  font-size: 14px;
  color: #737373;
  line-height: 20px;
}
.studio-analytics-wrapper h3 {
  padding: 10px 14px;
  color: #737373;
}

.studiospace-right {
  grid-area: main;
}

.header-title-wrapper {
  display: flex;
  align-items: center;
}

.content-in-right {
  background-color: #fafafa;
  min-height: calc(100vh - 62px);

}

.content-header-wrapper {
  display: flex;
  justify-content: space-between;
  top: 127.5px;
  position: sticky;
  background-color: #fff;
  z-index: 99;
  padding: 32px 12px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px -1px inset;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  color: rgb(38, 38, 39);
  width: 70%;
  /* height: 40px; */
  border-radius: 4px;
  border: 1px solid #dfe1e5;
  /* margin-left: 32px; */
}

.search-icon-wrapper {
  width: 32px;
  margin-left: 4px;
}
.search-input-wrapper {
  width: 100%;
}
.search-input {
  background: transparent;
  display: block;
  font-size: 16px;
  line-height: 22px;
  padding: 9px 15px 9px 0px;
  outline: none;
  border: none;
  width: 100%;
}

.user-details {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #026451;
  text-align: center;
  vertical-align: middle;
}

.user-details img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.user-details span {
  font-size: 14px;
  line-height: 31px;
  color: #fff;
}

.user-details-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.user-details-wrapper button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.user-settings-wrapper {
  position: absolute;
  top: 100%;
  right: 10%;
  width: 250px;
  color: rgb(38, 38, 39);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 2px 12px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.user-settings-wrapper.opened {
  max-height: 200px;
  z-index: 1000;
}

.user-settings {
  background-color: #fff;
  padding: 4px 0px;
  margin: 5px;
}

.user-settings-profile,
.user-settings-logout {
  padding: 10px;
  cursor: pointer;
  z-index: 999;
}

.user-settings-profile:hover,
.user-settings-logout:hover {
  background-color: #fafafa;
}

.user-settings-profile:hover .myprofile-link,
.user-settings-logout:hover .logout-link {
  transform: translateX(5px);
  font-weight: 600;
}

.myprofile-link {
  display: block;
  width: 100%;
  border: none;
  font-size: 14px;
  color: #262627;
  text-decoration: none;
  text-align: left;
}

.user-settings-logout .logout-link {
  padding: 0px;
  position: relative;
  z-index: 999;
  width: 100%;
  text-align: left;
}

.user-settings-account-info-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.user-settings-account-info {
  display: flex;
  flex-direction: column;
}
.user-settings-account-info span:nth-child(1) {
  color: #262627;
  font-size: 14px;
}
.user-settings-account-info span:nth-child(2) {
  color: #737373;
  font-size: 12px;
}

.studio-menu-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 247, 246);
}

.studio-menu-albums.active,
.studio-menu-achieve.active,
.studio-menu-special.active {
  background-color: #fff;
  color: #6366f1;
  border-color: #6366f1;
  box-shadow: 1px 1px 1px rgba(99, 102, 241, 0.2);
  border-radius: 10px;
  margin: 5px;
}

.studio-menu-albums,
.studio-menu-achieve,
.studio-menu-special {
  width: 97%;
  padding: 12px 0px;
}

.studio-menu-special {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-albums,
.menu-achieve,
.menu-special {
  color: rgb(38, 38, 39);
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  width: 100%;
}

.menu-albums-wrapper,
.menu-achieve-wrapper,
.menu-special-wrapper {
  display: flex;
  justify-content: space-between;
}

.menu-albums-left,
.menu-achieve-left,
.menu-special-left {
  display: flex;
  align-items: center;
  padding-left: 14px;
}

.studio-content-wrapper {
  margin: 0px 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.greetings-wrapper {
  padding: 12px;
  background-color: #fff;
  position: sticky;
  top: 62px;
  justify-content: space-between;
  z-index: 199;
}

.create-album-link-wrapper {
  display: flex;
  background: hsl(240, 1%, 15%);
  justify-content: center;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.create-album-link-wrapper .createAlbum-link {
  display: block;
  width: 100%;
  border: none;
  line-height: 25px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.filter select {
  background-color: #e3e3e3;
  color: #262627;
  outline: none;
  border: none;
  padding: 9px 7px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
